{# page d'un article #}

{% extends "base.html" %}

{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}

  <article class="hentry" role="article">
	
    {% include 'article_content.html' %}
    <footer>
      {% include '_includes/article_infos.html' %}
    </footer>
    
  </article>

{% endblock %}

