{# contenu d'un article qui sera inclus dans une page #}

<header>
    {% include '_includes/qr_code.html' %}
    
    {# Si on est sur la page d'index le titre est un lien sinon non #}
    
    {% if index %}
      <h1 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </h1>
    {% else %}
      <h1 class="entry-title">{{ article.title|striptags }}</h1>
    {% endif %}
    
    <p class="meta">{% include '_includes/article_time.html' %}</p>
</header>

 <section>
    <h1>Contenu</h1>
	{% include 'article_toc.html' %}
</section>

{# Si on est sur la page d'index on affiche le résumé #}
{% if index %}
  <article class="entry-content">{{ article.summary }}</article>
  
  {% if article.summary != article.content %}
  <footer>
	  <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">Continue...</a>
  </footer>
  {% endif %}
 
{# Si on n'est pas sur la page d'index on affiche le contenu #}  
{% else %}
  <div class="entry-content">{{ article.content }}</div>
  
{% endif %}
