<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="author" content="{{ AUTHOR }}">

  {% if FEED_FEEDBURNER %}
  <link href="http://feeds.feedburner.com/{{ FEED_FEEDBURNER }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed" />
  {% else %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% endif %}

  {% if EXTRA_HEADER %}
    {{ EXTRA_HEADER }}
  {% endif %}

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
  <script>
  
function getStylesheet() {
      var currentTime = new Date().getHours();
      if (0 <= currentTime&&currentTime < 5) {
       document.write("<link rel='stylesheet' href='/theme/css/night.css' media='screen, projection' type='text/css'>");
      }
      if (5 <= currentTime&&currentTime < 11) {
       document.write("<link rel='stylesheet' href='/theme/css/main.css' media='screen, projection' type='text/css'>");
      }
      if (11 <= currentTime&&currentTime < 16) {
       document.write("<link rel='stylesheet' href='/theme/css/main.css' media='screen, projection' type='text/css'>");
      }
      if (16 <= currentTime&&currentTime < 22) {
       document.write("<link rel='stylesheet' href='/theme/css/night.css' media='screen, projection' type='text/css'>");
      }
      if (22 <= currentTime&&currentTime <= 24) {
       document.write("<link rel='stylesheet' href='/theme/css/night.css' type='text/css'>");
      }
}

getStylesheet();

</script>

<noscript><link href="/theme/css/main.css" rel="stylesheet"></noscript>
-->
  
<link href="{{ SITEURL }}/favicon.png" rel="icon">
<link href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" media="screen, projection" rel="stylesheet" type="text/css">
<link href="{{ SITEURL }}/theme/css/{{ TAG_CLOUD_CSS_FILE }}" media="screen, projection" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">

  {% if article and article.latex %}
    {{ article.latex }}
  {% endif %}
  {% if page and page.latex %}
    {{ page.latex }}
  {% endif %}
</head>

<body>
	<header role="banner"><a href="{{ SITEURL }}"><img src="\theme\images\bridge3.png" width="800" height="129" alt=""></a></header>
  <nav role="navigation">{% include '_includes/navigation.html' %}</nav>
  <div id="main">
    <div id="content">{% include '_includes/sidebar.html' %}
      {% block content %}{% endblock %}
     
    </div>
  </div>
  <footer role="contentinfo">{% include '_includes/footer.html' %}</footer>
  {% include '_includes/after_footer.html' %}
  <a href="#0" class="cd-top">Top</a>
</body>
</html>
