{% extends 'base.html' %}



{% block content %}
{% set index=True %}
<div class="entry-content">
	

{% for article in articles %}

   

	<article class="entry-content">
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        {{ article.summary }}
      </article>

      <hr />

      
    
	 
	  <li>
		  
</li>
{% endfor %}

{% if articles|length > 1 %}
          
        </div>
		{% endif %}
</div>
{% endblock %}
 {% include '_includes/pagination.html' %}
