{# liste des articles contenant un tag #}


{% extends 'base.html' %}
{% block content %}
{% set index=True %}
<div class="blog-index">
  {% if articles %}
  	{% for article in articles_page.object_list %}
  		<article>
    		{% include 'article_content.html' %}
  		</article>
  	{% endfor %}
  	{% include '_includes/pagination.html' %}
  {% endif %}
</div>
{% endblock %}
