<p>
  {% if LICENSE %}
      {{ LICENSE }} 
  {% else %}
    {% set years = dates|groupby('date.year')|sort(reverse=False) %}
    {% set sinceYear = years|first|first|default('2014') %}
    {% set toYear = years|last|first|default('2014') %}
    Copyright &copy; {% if sinceYear == toYear %} {{ sinceYear }} {% else %} {{ sinceYear }}-{{ toYear }} {% endif%} - {{ AUTHOR }} -
  {% endif %}
  <span class="credit">Powered by <a href="http://getpelican.com">Pelican Theme MyGeekDaddy</a> image de https://pixabay.com/vectors/bridge-people-the-silhouette-spacer-1656035/</span>
</p>
