{# sidebar #}

<aside class="sidebar">
	
  {% if SIDEBAR_IMAGE %}
  <section>
	  <img src="{{ SITEURL }}/{{ SIDEBAR_IMAGE }}" alt="{{ SIDEBAR_IMAGE_ALT}}" width="{{SIDEBAR_IMAGE_WIDTH}}"/> 
  </section>
  {% endif %}
  
  
<section>
	<h1>Search</h1></hr>
	<form class="navbar-search" action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);"> 
		<input type="text" class="search-query" placeholder="" name="q" id="tipue_search_input">
		<input type="submit" value="Go!">
	</form>
</section>


	<section>
    <h1>Recent Posts</h1>
    <ul id="recent_posts">
      {% for article in articles[:5] %}
      <li class="post">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  
  
  {% if categories %}
  <section>
      
    <h1>Categories</h1>
    <ul id="recent_categories">
      {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} 
  {% if DISPLAY_TAGS_ON_MENU %}
  <section>
	  <h1>Tags</h1>
    {% include '_includes/tagcloud.html' %}
    </section>
    {% endif %}
  {% include '_includes/links.html' %}
</aside>
